@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html,
body {
  color: #24292f;
  background: white;

  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: #0d1117;
  }
  body {
    color: #f0f6fc;
    background: #0d1117;
  }
}
